<div class="help-widget-popup">
  <div class="">
    <div class="help-widget-popup-header">
      <h1>Hi 👋</h1>
    </div>
    <div class="help-widget-popup-content">
      <h2>Got questions?</h2>
      <a target="_blank" href="https://instatus.com/chat" class="help-widget-popup-option">Chat on slack</h3>
      <a target="_blank" href="https://instatus.com/help" class="help-widget-popup-option">Check help</a>
      <a target="_blank" href="mailto:ali@instatus.com" class="help-widget-popup-option">Send an email</a>
    </div>
  </div>
</div>