<div class="help-widget-popup">
  <div class="">
    <div class="help-widget-popup-header">
      <h1>Hi 👋</h1>
    </div>
    <div class="help-widget-popup-content">
      <h2>Got questions?</h2>
      <a target="_blank" href="https://instatus.com/chat" class="help-widget-popup-option">Chat on slack</h3>
      <a target="_blank" href="mailto:ali@instatus.com" class="help-widget-popup-option">Email me</a>
      <a target="_blank" href="https://twitter.com/messages/compose?recipient_id=308616564" class="help-widget-popup-option">Send a DM</a>
    </div>
  </div>
</div>