<div class="help-widget">
  <div class="svg-container">
    <svg xmlns="http://www.w3.org/2000/svg" class="svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" aria-hidden="true">
      <defs>
        <path id="icon-help-a" d="M7 0a7 7 0 110 14A7 7 0 017 0zm0 4.2a2.8 2.8 0 100 5.6 2.8 2.8 0 000-5.6z"></path>
      </defs>
      <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
        <mask id="icon-help-b">
          <use xlink:href="#icon-help-a"></use>
        </mask>
        <use fill-rule="nonzero" xlink:href="#icon-help-a"></use>
        <path id="icon-help-c" fill-rule="nonzero" d="M8.4-.7v6.3h6.3v2.8H8.4v6.3H5.6V8.4H-.7V5.6h6.3V-.7h2.8z" mask="url(#icon-help-b)" transform="rotate(45 7 7)"></path>
      </g>
    </svg>
  </div>
</div>